<% layout('./layouts/page.ejs') %>

<h1>Chat page</h1>
<div id="room">
  <ul>
  </ul>
  <form>
    <input type="text" class="form-control" placeholder="Enter your message">
  </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();

  const $form = $('#room form');
  const $input = $('#room input');
  const $msgList = $('#room ul');

  function addNewMessage(msg) {
    $msgList.append($('<li>', {text: msg}));
  }

  $form.on('submit', function(e) {
    e.preventDefault();

    const msg = $input.val();
    $input.val('');

    socket.emit('message', msg, () => addNewMessage(msg))
  })

  socket.on('message', addNewMessage);
</script>